# Logs
logs
*.log
pnpm-debug.log*

# Build and Dependency Directories
node_modules/
dist/
dist-ssr/
*.tsbuildinfo

# Environment / Secrets
.env
.env.*
!.env.example
*.local

# Vite specific
vite.config.ts.timestamp-*

# caches
.eslintcache