@import '@/quasar-variables.sass';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.q-layout__section--marginal,
.q-header,
.q-footer,
.q-field--standout.q-field--dark.q-field--highlighted .q-field__native {
  color: $dark-text !important;
}

body {
  &.body--dark {
    color: $dark-text !important;
  }

  .q-page {
    margin: auto;
  }

  .q-footer {
    @media (max-width: $breakpoint-sm-max) {
      position: static !important;
      margin-top: auto;
    }
  }

  .q-form {
    gap: 0.25rem;
    margin: auto;
  }

  .notify-dark-text {
    color: $dark !important;
  }

  @media (max-width: $breakpoint-xs-max) {
    h5 {
      text-align: center;
    }
  }

  .header-container {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    h5 {
      margin-bottom: 0.5rem;
    }

    & > div,
    .q-btn {
      height: 40px;
    }
  }

  .muted-text {
    color: $muted-text !important;
  }
}
